.container {
    background-color: rgb(44, 44, 44);
}

.main-box {
    background-color: white;
}

.video-container {
    background-color: rgb(44, 44, 44);
    border-color: rgb(62, 62, 62);
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    padding: 0;
    margin: 0;
}

/* .flow {
    background-color: rgb(44, 44, 44);
    border-color: rgb(62, 62, 62);
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
    padding: 0px;
    margin: 0px;
} */

.split-container {
    background-color: rgb(44, 44, 44);
    padding: 1px;
}

.side-table-container {
    background-color: rgb(44, 44, 44);
    border-color: rgb(62, 62, 62);
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
}

.bottom-container {
    background-color: rgb(44, 44, 44);
    border-color: rgb(62, 62, 62);
    border-radius: 0px;
    border-width: 2px;
    border-style: solid;
}

.side-panel-button {
    background-color: rgb(44, 44, 44);
    border-radius: 0px;
    border: none;
    padding: 0px;
    min-width: 10px;
}



.shared-seek-bar-container {
    background-color: rgb(44, 44, 44);
}

.shared-seek-bar-button-container {
    background-color: rgb(44, 44, 44);
}

.bottom-vbox {
    background-color: rgb(44, 44, 44);
}

.scale-slider-hidden scale slider {
    background: transparent;
    border: none;
}

scale slider {
    background-color: rgb(29, 128, 249);
    background-image: none;
}

entry {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

columnview.data-table {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.seek-bar-scale {
    padding-left: 16px;
    padding-right: 16px;
}

.seek-bar-fixed {
    background: rgba(255, 255, 0, 0);
    margin-left: 16px;
    margin-right: 16px;
}

/* .seek-bar-scale {
    background-color: blue;
} */
/* .seek-bar-box {
    background-color: chartreuse;
} */

/* .seek-bar-overlay {
    background-color: aliceblue;
} */

/* .seek-bar-fixed {
    background-color: crimson;
} */

/* .wow {
    background-color: red;
    margin: 0;
    padding: 0;
}

.buttons {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}  */
