.container {
    background-color: black;
}

.main-box {
    background-color: white;
}

.video-container {
    background-color:crimson;
}

.split-container {
    background-color: yellow;
}

.bottom-container {
    background: rgb(77, 178, 211);
}

.new-video-player-button {
    background-color: chartreuse;
    border-radius: 0px;
    border: none;
    padding: 0px;
    min-width: 10px;
}