.container {
    background-color: black;
}

.main-box {
    background-color: white;
}

.video-container {
    background-color:crimson;
    padding: 0;
    margin: 0;
}

.flow {
    background-color: coral;
    padding: 0px;
    margin: 0px;
}

.split-container {
    background-color: yellow;
    padding: 1px;
}

/* .bottom-container {
    background: rgb(77, 178, 211);
} */

.new-video-player-button {
    background-color: chartreuse;
    border-radius: 0px;
    border: none;
    padding: 0px;
    min-width: 10px;
}

.shared-seek-bar-container {
    background-color: rgb(117, 186, 118);
}

.shared-seek-bar-button-container {
    background-color: rgb(255, 255, 255);
}

.bottom-vbox {
    background-color: rgba(241, 140, 140, 0);
}

scale slider {
    background-color: rgb(29, 128, 249);
    background-image: none;
}

entry {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

columnview.data-table {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.seek-bar-scale {
    padding-left: 16px;
    padding-right: 16px;
}

.seek-bar-fixed {
    background: rgba(255, 255, 0, 0);
    margin-left: 16px;
    margin-right: 16px;
}

/* .seek-bar-scale {
    background-color: blue;
} */
/* .seek-bar-box {
    background-color: chartreuse;
} */

/* .seek-bar-overlay {
    background-color: aliceblue;
} */

/* .seek-bar-fixed {
    background-color: crimson;
} */

/* .wow {
    background-color: red;
    margin: 0;
    padding: 0;
}

.buttons {
    background-color: blueviolet;
    margin: 0;
    padding: 0;
}  */
