.seek-bar-box {
}

.seek-bar {
    margin: 0;
    padding: 5px;
}

.v-box {
    background-color: rgb(44, 44, 44);
}

.video-player {
    background-color: rgb(44, 44, 44);
    border-color: rgb(62, 62, 62);
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
}

.video-player-control-button {
    border-radius: 0px;
    border-width: 1px;
    border-style: solid;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
}

.video-player-control-button label {
    padding: 1px;
    margin: 1px;
}